* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-items-container {
  display: flex;
}

.content-container {
  flex: 1;
  padding-left: 1rem;
}

.section-heading {
  padding-top: 2.5rem;
  color: black;
  font-weight: bold;
}


.myprod {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.myprodcard {
  width: 100%; /* Full width for smaller devices */
  padding-top: 1.2rem; /* Consistent padding */
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-color: black;
  color: black;
  transition: 0.17s;
  margin: 0.5rem auto; /* Adjusted margin for spacing */
}

.myprodcard:hover {
    transform: scale(1.04);
}

/* Desktop Size */
@media (min-width: 1025px) {
  .myprodcard {
    min-height: 13rem;
    min-width: 51rem;
    padding-left: 1rem;
    max-width: 320px; /* Keep maximum width for larger screens */
  }
  .myprod {
    justify-content: flex-start; /* Align items to the start */
    flex-wrap: wrap; /* Allow wrapping of cards */
    padding-left: 1rem; /* Retain left padding */
  }
  
}
/* Laptop Size */
@media (min-width: 851px) and (max-width: 1024px)  {
  .myprod {
    justify-content: flex-start; /* Align items to the start */
    flex-wrap: wrap; /* Allow wrapping of cards */
    padding-left: 1rem; /* Retain left padding */
  }
  
  .myprodcard {
    min-height: 13rem;
    min-width: 37rem;
    padding-left: 1rem;
    max-width: 320px; /* Keep maximum width for larger screens */
  }
}

/* Tablets and Small Laptops */
@media (max-width: 850px) {
  .myprodcard{
    margin: 0.5rem; /* Space around each card */
    display: flex; /* Essential to apply flex properties */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center the inner elements */
    padding:12px;
    min-width: 20rem;
    max-width: 290px;
  }
  .myprodcard > div { /* Ensures proper stacking within card */
    display: flex;
    flex-direction: column; /* Vertical stacking of elements */
  }
  .myprodcard .carousel-inner {
    margin-bottom: 1rem; /* Ensure space below the carousel */
    align-items:center;
    justify-content: center;
    width: 100%;
  }
  .responsiveButtons,
  .responsiveButtons1 {
    flex-direction: column; 
    margin-bottom: 20px;
  }
}
